.noto-sans-<uniquifier > {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair-display-<uniquifier > {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --color-primary: #093879;
  --color-background: #8cccdd;
  --btn-color: rgba(9, 56, 121, 0.953);
  --color-white: white;
  --color-black: black;
  --heading-font-family: Playfair Display, serif;
  --default-font-family: Noto Sans, sans-serif;
  --transition: all 0.2s ease-in-out;
  --full-size: 1200px;
  --tablet-size: 700px;
  --mobile-size: 480px;
}

body {
  font-family: var(--default-font-family);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

a {
  cursor: pointer;
}

img {
  border-radius: 7px;
  border: var(--color-primary) 1px solid;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-image {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 80px;
  height: auto;
  margin: 0;
  margin-top: 5px;
  display: block;
}

.dictionary-image img {
  width: 400px;
  height: auto;
}

.weather-image img {
  width: 550px;
  height: auto;
}

.poem-image img {
  width: 550px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.world-clock img {
  width: 500px;
  height: auto;
}

.image-shade p {
  opacity: 0.9;
}

.add-background {
  background: var(--color-background);
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

nav ul {
  padding: 0;
  margin: 0;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  margin-top: 30px;
}

nav li {
  display: inline;
  list-style: none;
  padding: 20px;
  font-size: 26px;
  font-weight: 600;
  font-family: var(--heading-font-family);
}

li a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 100ms ease-in-out;
}

li:hover a {
  color: var(--color-background);
}

.hero-section {
  background-color: var(--color-background);
  padding: 100px 20px;
  text-align: center;
}

li.active a {
  font-weight: 900;
  color: var(--color-primary);
}

.hero-section p {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.hero-section h1 {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-section h2 {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 2;
  color: var(--color-secondary);
}

.btn-branding {
  border-radius: 7px;
  background-color: var(--btn-color);
  color: var(--color-white);
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  transition: var(--transition);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  border: var(--color-white) 1px solid;
}

.btn-branding:hover {
  background-color: var(--color-white);
  color: var(--btn-color);
  border: var(--btn-color) 1px solid;
}

.btn-branding-outline {
  border-radius: 7px;
  color: var(--btn-color);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  transition: var(--transition);
  border: var(--btn-color) 1px solid;
}

.btn-branding-outline:hover {
  background-color: var(--btn-color);
  color: var(--color-white);
  border: var(--color-white) 1px solid;
}

.project-description-text p {
  font-size: 28px;
  line-height: 1.6;
  font-style: italic;
}

.project-description {
  padding: 20px 20px;
}

.content-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 50px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.portfolio-row {
  margin-bottom: 40px;
}

.portfolio-image {
  width: 400px;
  height: 100%;
}

.portfolio-image-long {
  width: 400px;
  height: 100%;
}

.portfolio-text p {
  font-size: 14px;
  line-height: 1.5;
}

.contact-image {
  height: 100%;
  width: 290px;
}

@media (max-width: 1200px) {
  .container {
    max-width: var(--full-size);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: var(--tablet-size);
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 24px;
  }

  .hero-section p {
    font-size: 24px;
  }

  .hero-section h1 {
    font-size: 80px;
  }

  .hero-section h2 {
    font-size: 50px;
    line-height: 1.5;
  }

  .project-description-text p {
    font-size: 24px;
    line-height: 1.5;
  }

  .content-container {
    padding: 0;
    text-align: center;
  }

  .porfolio-row {
    margin-bottom: -100px;
  }

  .col-6 {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: var(--mobile-size);
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .logo-image {
    width: 50px;
  }

  nav li {
    padding: 10px;
    font-size: 16px;
  }

  .hero-section {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero-section p {
    font-size: 18px;
  }

  .hero-section h1 {
    font-size: 64px;
  }

  .hero-section h2 {
    font-size: 28px;
    line-height: 1.5;
  }

  .project-description-text p {
    font-size: 18px;
    line-height: 1.5;
  }

  .col-6 {
    flex: 100%;
    max-width: 100%;
  }

  .col-8 {
    flex: 100%;
    max-width: 100%;
  }

  .container {
    text-align: center;
  }

  .hero-section h2 {
    font-size: 28px;
  }

  .hero-section p {
    font-size: 22px;
  }

  .image-shade {
    display: none;
  }

  .text-center {
    margin: 0;
  }

  .project-description-column {
    text-align: center;
  }
  .content-container h1 {
    font-size: 62px;
    line-height: 1.1;
  }

  .about-btn {
    margin-bottom: 40px;
  }

  .portfolio-row {
    margin-bottom: 0;
  }

  .portfolio h1 {
    font-size: 50px;
  }

  .contact-image {
    display: none;
  }
}
